@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



nav li {
font-family: "Playwrite MX Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

 header{

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 413px;

    width: 100%;
    height: 160px;

    background-color: orchid;
    border: 10px solid;
 }

header nav ul li {

    display:inline-block;

    border: 10px solid;
    border-radius: 50px;

    width: 241px;
    height: 77px;

   margin: right 145px; 
   background-color: darkmagenta;
}
header nav ul li a {
 text-decoration:none;

}